body {
    background-color: #121212;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

#archive {
    padding: 20px;
}

h1, h2 {
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00;
}

img {
    max-width: 100px;
    height: auto;
    display: block;
}

.nation {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.nation img {
    margin-right: 20px;
}

.draggable {
    width: 50px;
    height: 50px;
    background-color: #00ff00;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
}

.popup {
    display: none;
    position: absolute;
    width: 300px;
    background-color: #000000;
    border: 2px solid #00ff00;
    padding: 20px;
    z-index: 1000;
}

.popup-content {
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
}

.binary {
    font-size: 18px;
}

.translation {
    font-size: 14px;
    margin-top: 10px;
}
